Firebase/Plugins/x86_64/* filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.so.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.bundle.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.so filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.so.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.so filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.bundle filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_3_0.dll.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.dll filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.so filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.dll filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_3_0.so filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.bundle filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.so.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.dll filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_3_0.bundle filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_3_0.bundle.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.dll.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.so filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.bundle filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_3_0.so.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.dll.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.bundle filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.dll.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_3_0.dll filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.so.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.bundle.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.bundle.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.dll filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.bundle.meta filter=lfs diff=lfs merge=lfs -text
Client/Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.dll.meta filter=lfs diff=lfs merge=lfs -text
Client/Library/PackageCache/**/*.dylib filter=lfs diff=lfs merge=lfs -text
Client/Library/PackageCache/**/*.so filter=lfs diff=lfs merge=lfs -text
Client/Library/PackageCache/**/*.dll filter=lfs diff=lfs merge=lfs -text
Client/Library/PackageCache/**/dsymutil filter=lfs diff=lfs merge=lfs -text
